django==4.2.7
pyTelegramBotAPI==4.14.0
beautifulsoup4==4.12.2
lxml==4.9.3
python-telegram-bot-pagination==0.0.3
python-dotenv==1.0.0
schedule==1.2.1
django-redis==5.4.0
djangorestframework==3.14.0
redis==5.0.1
selenium==4.15.2
pytz==2023.3.post1
mysqlclient==2.2.1
undetected-chromedriver==3.5.4
json-logger-stdout==1.1.5
json_log_formatter==0.5.2